/* navigation */
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}

/* home section */
#home{
    height: 370px; 
    padding: 3px 28px;
    

}
#home::before{
    height: 480px;

}
#home h1{
    font-size: 45px;
}

#home p{
    font-size: 13px;
}

/* servises section */
#sevices{
    flex-direction: column;
}

#sevises .box{
    padding: 14px;
    margin: 2px 0px; 
    margin-bottom: 20px;
}

/* client section */
.client{
    width: 200px;
}


/* contact section */
#contact-box form{
    width:80%;
}

/* footer */

/* utility classes */

.h-primary{
    font-size: 26px;
}
.btn{
    font-size: 13px;
    padding:4px 8;
}
.welcine-container img{
    height: 450px;
}

.welcine-container .top-center1{
    padding: 0px 5%;
}
.welcine-container .top-center1 h1{
    font-size: 20px;
}

.welcine-container  .top-center2 {
    top: 60%;
}



.questions{
    flex-direction: column;
}
.deal-of-day{
    flex-direction: column;

}


.key-point{
}
.key-point .poin{
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
.key-point .point{
    /* background-color: blue; */
    margin: 2% 0%;
    width: 100%;
    height: 100%;
}
.our-team .team-img{
    flex-direction: column;
    margin: 0% 20px;
}

.contact-us .contact-bg2{
    
    flex-direction: column;
}

.aboutus-p p{
    font-size: 25px;
}
.his-container p{
    font-size: 15px;
}
.his-container{
    flex-direction: column;
}


.why-choose .why-choose-conatiner{
    /* background-color: brown; */
    flex-direction: column;
}
#sevices .box{
    width: 20rem;
    height: 15rem;
    text-align: center;
}
#sevices .box img{
    height:3rem;
    display: block;
    margin: auto;

}
#sevices .box p{
    font-size: 10px;

}